body, header, img, nav, section, article, div, aside, p, ul, li, h1, h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*BLINKING TEXT*/
@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

/*GRADIENTS*/
@mixin linear-gradient($firstColor, $secondColor, $thirdColor, $fourthColor, $fifthColor) {
    background: -moz-linear-gradient(top, $firstColor 0, $secondColor 2%, $thirdColor 26%, $thirdColor 39%, $fourthColor 98%, $fifthColor 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, $firstColor 0,$secondColor 2%,$thirdColor 26%,$thirdColor 39%,$fourthColor 98%,$fifthColor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $firstColor 0,$secondColor 2%,$thirdColor 26%,$thirdColor 39%,$fourthColor 98%,$fifthColor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $firstColor 0,$secondColor 2%,$thirdColor 26%,$thirdColor 39%,$fourthColor 98%,$fifthColor 100%); /* IE10+ */
}

/*COLOR VARIABLES*/
$backgr-main: white;
$text-main: black;
$text-header-footer: #d27502;
$text-hover: #7402D1;
$text: #fcd740;
$borders: #ed78ff;

/*MAIN*/
body {
    font-family: Tahoma;
    font-size: 1rem;
    background-color: $backgr-main;
    color: $text-main;

    p {
        margin: 0.5rem 0;
    }

    #wrapper {
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: center;
        /*HEADER*/
        header {
            order: 1;
            width: 100%;
            margin-bottom: 1rem;
            padding: 1rem 2.5rem;
            @include linear-gradient(#E58EF5, #D73FFC, #ed78ff, #7402D1, #7f02e6 );
            color: $text-hover;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: space-between;

            img {
                order: 1;
                height: 100px;
                margin-bottom: 0;
            }

            audio {
                order: 2;
                align-self: flex-end;
                margin-bottom: 0;
                color: $text-hover;
            }

            nav {
                order: 3;
                font-size: 1.2rem;
                align-self: flex-end;
                margin-bottom: 0.5rem;
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                justify-content: flex-end;

                ul {
                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-left: 1.3rem;

                        a {
                            text-decoration: none;
                            padding: 0.5rem;
                        }

                        > a {
                            color: $text;
                        }

                        ul a {
                            font-size: 0.9rem;
                            padding: 0;
                            color: $text-hover;
                        }

                        &:hover > a {
                            text-decoration: none;
                            @include linear-gradient(#f6e68e, #fcd740, #feed77, #d27502, #E27E02 );
                            border-radius: 0.3rem;
                            color: $text-hover;

                            + ul {
                                display: block;
                            }
                        }

                        ul li {
                            float: none;
                            margin: 0;
                            padding-top: 0.5rem;
                            padding-bottom: 0.5rem;
                            border-bottom: 1px solid $text-hover;
                            display: block;

                            &:last-child {
                                border-bottom: none;
                            }

                            a {
                                margin-left: 1rem;
                                font-weight: normal;

                                &.sub-menu {
                                    font-weight: bold;
                                    @include linear-gradient(#f6e68e, #fcd740, #feed77, #d27502, #E27E02 );
                                }
                            }

                            &:hover a.sub-menu {
                                color: $text-header-footer;
                            }

                            &:hover > a {
                                text-decoration: none;
                                background: none;
                            }
                        }

                        ul.sub-nav-list {
                            position: absolute;
                            margin-top: 0.5rem;
                            display: none;
                            @include linear-gradient(#f6e68e, #fcd740, #feed77, #d27502, #E27E02 );
                            width: 15rem;
                            border-bottom-left-radius: 0.3rem;
                            border-bottom-right-radius: 0.3rem;
                            text-align: left;

                            li:hover {
                                @include linear-gradient(#f6e68e, #fcd740, #feed77, #d27502, #E27E02 );
                                cursor: pointer;
                            }

                            li:last-child:hover {
                                border-bottom-left-radius: 0.3rem;
                                border-bottom-right-radius: 0.3rem;
                            }
                        }
                    }
                }
            }
        }
        /*MAIN AGAIN*/
        section {
            order: 2;
            width: 80%;

            article {
                margin-bottom: 1rem;
                overflow-wrap: break-word;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }
        /*FOOTER*/
        footer {
            order: 4;
            width: 100%;
            font-size: 1.2rem;
            @include linear-gradient(#E58EF5, #D73FFC, #ed78ff, #7402D1, #7f02e6 );
            color: $text-header-footer;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: center;

            section {
                width: 25%;
                color: $text;
                display: flex;
                -ms-flex-flow: column;
                flex-flow: column;

                h2 {
                    margin-bottom: 0.3rem;
                    font-size: 1rem;
                }

                ul {
                    list-style-type: none;

                    li {
                        margin-top: 0.3rem;
                    }

                    li a {
                        color: $text;
                        text-decoration: none;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}




/*SECTIONS*/
#wrapper section {
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
    font-size: 1.2rem;
    padding: 1.5rem 1.5rem;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;

    #map_canvas {
        width: 50%;
        height: 300px;
    }

    article {
        padding: 1.5rem 1.5rem;
        background-color: $backgr-main;
        border: 2px solid $borders;
        border-radius: 1.5rem;

        ul {
            list-style-type: none;

            li {
                margin: 0.5rem 0;

                a {
                    text-decoration: none;
                    color: $text-main;

                    &:hover {
                        color: $text-hover;
                    }
                }
            }
        }

        header {
            border-radius: 0.5rem;
            @include linear-gradient(#f6e68e, #fcd740, #feed77, #d27502, #E27E02 );
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: center;

            h1 {
                font-size: 1.5rem;
                padding: 0.7rem;
            }

            h2 {
                font-size: 1.3rem;
            }
        }
    }

    &.oneColumnSection article {
        width: 100%;
        height: 100%;
        order: 2;

        div {
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: flex-start;

            div#map_canvas {
                width: 50%;
                margin-right: 5%;
            }

            address {
                width: 45%;

                p{
                    font-style:normal;
                }
            }
        }

        &.articlePic div {
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: flex-start;

            img {
                width: 30%;
                height: 100%;
                margin-right: 1%;
            }

            p {
                width: 69%;
            }
        }
    }

    &.threeColumnsSection article {
        width: 32%;
        height: 100%;
        order: 3;

        img {
            width: 100%;
        }

        ul {
            list-style-type: none;

            li {
                margin: 0.5rem 0;

                a {
                    text-decoration: none;
                    color: $text-main;

                    &:hover {
                        color: $text-hover;
                    }
                }
            }
        }
    }

    &.indexSection {
        height: 100%;
        /*border: 1px solid red;*/
        font-size: 1.2rem;
        padding: 0;

        article {
            width: 100%;
            overflow: hidden;
            padding: 1.5rem 1.5rem;
            text-align: center;

            header {
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                justify-content: center;

                h1, h2 {
                    width: 100%;
                    margin: 1rem;
                }

                h2.blinking {
                    font-size: 2rem;
                    -webkit-animation-name: blinker;
                    -webkit-animation-duration: 1s;
                    -webkit-animation-timing-function: linear;
                    -webkit-animation-iteration-count: infinite;
                    -moz-animation-name: blinker;
                    -moz-animation-duration: 1s;
                    -moz-animation-timing-function: linear;
                    -moz-animation-iteration-count: infinite;
                    animation-name: blinker;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    -o-animation-name: blinker;
                    -o-animation-duration: 1s;
                    -o-animation-timing-function: linear;
                    -o-animation-iteration-count: infinite;

                    a {
                        text-decoration: none;
                    }
                }

                div {
                    width: 100%;
                    max-width: 500px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

/*ASIDES*/
/*NEWS SECTION FLIPPER IMAGES - made on a separate css file*/


