body, header, img, nav, section, article, div, aside, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

$hoverColor: #008000;
$mainColor: purple;
$textColor: white;


/*MAIN*/
body {
    font-family: Tahoma;
    font-size: 1rem;
    background-color: $mainColor;
    color: $textColor;

    #wrapper {
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-between;

        header {
            order: 1;
            width: 100%;
            margin-bottom: 1rem;
            padding: 1rem 2.5rem;
            color:$textColor;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: space-between;

            img {
                order: 1;
                height: 100px;
                margin-bottom:0;
            }

            audio {
                order: 2;
                align-self: flex-end;
                margin-bottom:0;
            }

            nav {
                order: 3;
                font-size: 1.2rem;
                align-self:flex-end;
                margin-bottom:0.5rem;
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                justify-content: flex-end;

                ul {
                    list-style-type: none;

                    li {
                        display: inline-block;
                        margin-left: 1.3rem;

                        a {
                            text-decoration: none;
                            padding: 0.5rem;
                            color:$textColor;
                        }

                        ul a {
                            font-size: 0.9rem;
                            padding: 0;
                        }

                        &:hover > a {
                            text-decoration: none;
                            background-color: $hoverColor;
                            border-radius: 0.3rem;

                            + ul {
                                display: block;
                            }
                        }

                        ul li {
                            float: none;
                            margin: 0;
                            padding-top: 0.5rem;
                            padding-bottom: 0.5rem;
                            border-bottom: 1px solid $mainColor;
                            display: block;

                            &:last-child {
                                border-bottom: none;
                            }

                            a {
                                margin-left: 1rem;
                                font-weight: normal;

                                &.sub-menu {
                                    font-weight: bold;
                                    color: $hoverColor;
                                }
                            }

                            &:hover a.sub-menu {
                                color: white;
                            }

                            &:hover > a {
                                text-decoration: none;
                                background: none;
                            }
                        }

                        ul.sub-nav-list {
                            position: absolute;
                            margin-top: 0.5rem;
                            display: none;
                            background-color: $hoverColor;
                            width: 15rem;
                            border-bottom-left-radius: 0.3rem;
                            border-bottom-right-radius: 0.3rem;
                            text-align: left;

                            li:hover {
                                background: $mainColor;
                                cursor: pointer;
                            }

                            li:last-child:hover {
                                border-bottom-left-radius: 0.3rem;
                                border-bottom-right-radius: 0.3rem;
                            }
                        }
                    }
                }
            }
        }

        section {
            order: 2;

            article{ 
                margin-bottom: 1rem;
                overflow-wrap:break-word;
                overflow-x:hidden;
                overflow-y:auto;
            }
        }

        aside {
            order: 3;
            margin-bottom: 1rem;
        }

        footer {
            order: 4;
            width: 100%;
            font-size: 1.2rem;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: center;

            div {
                width: 25%;
                font-size: 1.2rem;
            }
        }
    }
}




/*SECTIONS*/

#wrapper section {
    width: 100%;
    height: 300px;
    border: 1px solid red;
    font-size: 1.2rem;

    article {
        overflow: hidden;
        background-color:$hoverColor;

        &:first-child img {
            height: 300px;
        }
    }
}


/*ASIDES*/
#wrapper aside {
    width: 100%;
    border: 1px solid red;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;

    article {
        width: 32%;
        border: 1px solid red;
        font-size: 1.2rem;
        padding: 1rem 2.5rem;
        background-color:$hoverColor;
        overflow: hidden;
    }
}